Source: rtl8821cu-dkms
Section: contrib/kernel
Priority: optional
Maintainer: Greg Albrecht <gba@snstac.com>
Build-Depends: debhelper (>= 13), dkms
Standards-Version: 4.6.2.1
Homepage: https://github.com/snstac/rtl8821cu

Package: rtl8821cu-dkms
Architecture: any
Multi-Arch: foreign
Depends: dkms (>= 1.95), ${misc:Depends}
Description: Realtek rtl8821cu driver in DKMS format
  This package provides the Realtek rtl8821cu driver in DKMS way so that you can
  use a Realtek USB-type network interface card using the latest driver.
  Kernel sources or headers are required to compile this module.
